cache/*
log/*
config/*
!schema.yml
test/*
data/sql/*
web/lessons/html/*
!web/lessons/html/ja_JP/
!web/lessons/html/en_US
web/lessons/php/*
!web/lessons/php/ja_JP
!web/lessons/php/en_US
web/lessons/jquery/*
!web/lessons/jquery/ja_JP
!web/lessons/jquery/en_US
.DS_Store
web/.htaccess
.tags
lib/vendor/hybridauth/config.php
web/uploads/*
