.top
{
	height: 600px;
}

.top-logo
{
	color: black;
}

.top-navi
{

}

.navi-item
{
	float: right;
}

.navi-item li 
{
	float: right;
	color: red;
}

.title
{
	text-align: center;
	color: red;
	font-size: 30px;
}

.about
{
	height: 400px;
	background-color: #EEE;
}